openapi: 3.2.0
info:
  title: LanzaTech WordPress REST block-directory Search API
  version: wp/v2
  description: 'The public WordPress REST API served by lanzatech.com. Derived faithfully from the provider''s own live discovery document at https://lanzatech.com/wp-json/ on 2026-07-19. Alongside the standard WordPress content types (posts, pages, media, categories, tags), LanzaTech publishes five custom content types that model the company itself: news (external news coverage), employee, board-member, download (published reports and life-cycle assessments) and testimonial. Read operations are publicly accessible without authentication; write operations require a WordPress application password.'
  contact:
    name: LanzaTech
    url: https://lanzatech.com/contact/
  termsOfService: https://lanzatech.com/terms-of-use/
  x-generated: '2026-07-19'
  x-method: derived
  x-source: https://lanzatech.com/wp-json/
servers:
- url: https://lanzatech.com/wp-json
  description: Production
tags:
- name: search
paths:
  /wp/v2/search:
    get:
      operationId: listSearch
      summary: GET /wp/v2/search
      tags:
      - search
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: Limit results to items of an object type.
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
      - name: subtype
        in: query
        required: false
        description: Limit results to items of one or more object subtypes.
        schema:
          type: array
          default: any
          items:
            type: string
            enum:
            - post
            - page
            - employee
            - board-member
            - download
            - news
            - testimonial
            - category
            - post_tag
            - any
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
          headers:
            X-WP-Total:
              description: Total items in the collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages in the collection.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev).
              schema:
                type: string
        '400':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
components:
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope, captured verbatim from live responses.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
            params:
              type: object
              description: Per-parameter validation messages (rest_invalid_param).
            details:
              type: object
              description: Per-parameter structured error details.
  responses:
    Error:
      description: WordPress REST API error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress application passwords, advertised by the API root document at https://lanzatech.com/wp-json/ (authentication.application-passwords.endpoints.authorization = https://lanzatech.com/wp-admin/authorize-application.php). Sent as HTTP Basic credentials. Only required for write operations; all read operations captured here are public.
