openapi: 3.2.0
info:
  title: LanzaTech WordPress REST block-directory Global Styles API
  version: wp/v2
  description: 'The public WordPress REST API served by lanzatech.com. Derived faithfully from the provider''s own live discovery document at https://lanzatech.com/wp-json/ on 2026-07-19. Alongside the standard WordPress content types (posts, pages, media, categories, tags), LanzaTech publishes five custom content types that model the company itself: news (external news coverage), employee, board-member, download (published reports and life-cycle assessments) and testimonial. Read operations are publicly accessible without authentication; write operations require a WordPress application password.'
  contact:
    name: LanzaTech
    url: https://lanzatech.com/contact/
  termsOfService: https://lanzatech.com/terms-of-use/
  x-generated: '2026-07-19'
  x-method: derived
  x-source: https://lanzatech.com/wp-json/
servers:
- url: https://lanzatech.com/wp-json
  description: Production
tags:
- name: global-styles
paths:
  /wp/v2/global-styles/{id}/\w-]+):
    parameters:
    - name: id
      in: path
      required: true
      description: 'Route-matched value (WordPress route pattern: (?P<id>[\).'
      schema:
        type: string
    get:
      operationId: getGlobalStyles\w]+)ById
      summary: GET /wp/v2/global-styles/{id}/\w-]+)
      tags:
      - global-styles
      parameters:
      - name: id
        in: query
        required: false
        description: The id of a template
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: createGlobalStyles\w]+)ById
      summary: POST /wp/v2/global-styles/{id}/\w-]+)
      tags:
      - global-styles
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                styles:
                  type: object
                  description: Global styles.
                settings:
                  type: object
                  description: Global settings.
                title:
                  type: object
                  description: Title of the global styles variation.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    put:
      operationId: replaceGlobalStyles\w]+)ById
      summary: PUT /wp/v2/global-styles/{id}/\w-]+)
      tags:
      - global-styles
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                styles:
                  type: object
                  description: Global styles.
                settings:
                  type: object
                  description: Global settings.
                title:
                  type: object
                  description: Title of the global styles variation.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateGlobalStyles\w]+)ById
      summary: PATCH /wp/v2/global-styles/{id}/\w-]+)
      tags:
      - global-styles
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                styles:
                  type: object
                  description: Global styles.
                settings:
                  type: object
                  description: Global settings.
                title:
                  type: object
                  description: Title of the global styles variation.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
  /wp/v2/global-styles/themes/{stylesheet}/\s%\w\.\(\)\[\]\@_\-]+)/variations:
    parameters:
    - name: stylesheet
      in: path
      required: true
      description: 'Route-matched value (WordPress route pattern: (?P<stylesheet>[\).'
      schema:
        type: string
    get:
      operationId: getGlobalStylesThemes\s%\w\.\(\)\[\]\@\]+)VariationsByStylesheet
      summary: GET /wp/v2/global-styles/themes/{stylesheet}/\s%\w\.\(\)\[\]\@_\-]+)/variations
      tags:
      - global-styles
      parameters:
      - name: stylesheet
        in: query
        required: false
        description: The theme identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/Error'
  /wp/v2/global-styles/themes/{stylesheet}/:<>\*\?"\|]+(?:\/[^\/:<>\*\?"\|]+)?):
    parameters:
    - name: stylesheet
      in: path
      required: true
      description: 'Route-matched value (WordPress route pattern: (?P<stylesheet>[^\).'
      schema:
        type: string
    get:
      operationId: getGlobalStylesThemes:<>\*\?"\|]+(?:\[^\:<>\*\?"\|]+)?)ByStylesheet
      summary: GET /wp/v2/global-styles/themes/{stylesheet}/:<>\*\?"\|]+(?:\/[^\/:<>\*\?"\|]+)?)
      tags:
      - global-styles
      parameters:
      - name: stylesheet
        in: query
        required: false
        description: The theme identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/Error'
components:
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope, captured verbatim from live responses.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
            params:
              type: object
              description: Per-parameter validation messages (rest_invalid_param).
            details:
              type: object
              description: Per-parameter structured error details.
  responses:
    Error:
      description: WordPress REST API error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress application passwords, advertised by the API root document at https://lanzatech.com/wp-json/ (authentication.application-passwords.endpoints.authorization = https://lanzatech.com/wp-admin/authorize-application.php). Sent as HTTP Basic credentials. Only required for write operations; all read operations captured here are public.
