openapi: 3.0.3
info:
  title: LanzaTech WordPress REST block-directory block-renderer API
  version: wp/v2
  description: 'The public WordPress REST API served by lanzatech.com. Derived faithfully from the provider''s own live discovery document at https://lanzatech.com/wp-json/ on 2026-07-19. Alongside the standard WordPress content types (posts, pages, media, categories, tags), LanzaTech publishes five custom content types that model the company itself: news (external news coverage), employee, board-member, download (published reports and life-cycle assessments) and testimonial. Read operations are publicly accessible without authentication; write operations require a WordPress application password.'
  contact:
    name: LanzaTech
    url: https://lanzatech.com/contact/
  termsOfService: https://lanzatech.com/terms-of-use/
  x-generated: '2026-07-19'
  x-method: derived
  x-source: https://lanzatech.com/wp-json/
servers:
- url: https://lanzatech.com/wp-json
  description: Production
tags:
- name: block-renderer
paths:
  /wp/v2/block-renderer/{name}/[a-z0-9-]+):
    parameters:
    - name: name
      in: path
      required: true
      description: 'Route-matched value (WordPress route pattern: (?P<name>[a-z0-9-]+).'
      schema:
        type: string
    get:
      operationId: getBlockRenderer[aZ09]+)ByName
      summary: GET /wp/v2/block-renderer/{name}/[a-z0-9-]+)
      tags:
      - block-renderer
      parameters:
      - name: name
        in: query
        required: false
        description: Unique registered name for the block.
        schema:
          type: string
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - edit
          default: view
      - name: attributes
        in: query
        required: false
        description: Attributes for the block.
        schema:
          type: object
          default: []
      - name: post_id
        in: query
        required: false
        description: ID of the post context.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: createBlockRenderer[aZ09]+)ByName
      summary: POST /wp/v2/block-renderer/{name}/[a-z0-9-]+)
      tags:
      - block-renderer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Unique registered name for the block.
                context:
                  type: string
                  enum:
                  - edit
                  default: view
                  description: Scope under which the request is made; determines fields present in response.
                attributes:
                  type: object
                  default: []
                  description: Attributes for the block.
                post_id:
                  type: integer
                  description: ID of the post context.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': &id001
          $ref: '#/components/responses/Error'
        '401': *id001
        '403': *id001
        '404': *id001
components:
  responses:
    Error:
      description: WordPress REST API error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope, captured verbatim from live responses.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
            params:
              type: object
              description: Per-parameter validation messages (rest_invalid_param).
            details:
              type: object
              description: Per-parameter structured error details.
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress application passwords, advertised by the API root document at https://lanzatech.com/wp-json/ (authentication.application-passwords.endpoints.authorization = https://lanzatech.com/wp-admin/authorize-application.php). Sent as HTTP Basic credentials. Only required for write operations; all read operations captured here are public.
