openapi: 3.0.3
info:
  title: LanzaTech WordPress REST block-directory widgets API
  version: wp/v2
  description: 'The public WordPress REST API served by lanzatech.com. Derived faithfully from the provider''s own live discovery document at https://lanzatech.com/wp-json/ on 2026-07-19. Alongside the standard WordPress content types (posts, pages, media, categories, tags), LanzaTech publishes five custom content types that model the company itself: news (external news coverage), employee, board-member, download (published reports and life-cycle assessments) and testimonial. Read operations are publicly accessible without authentication; write operations require a WordPress application password.'
  contact:
    name: LanzaTech
    url: https://lanzatech.com/contact/
  termsOfService: https://lanzatech.com/terms-of-use/
  x-generated: '2026-07-19'
  x-method: derived
  x-source: https://lanzatech.com/wp-json/
servers:
- url: https://lanzatech.com/wp-json
  description: Production
tags:
- name: widgets
paths:
  /wp/v2/widgets:
    get:
      operationId: listWidgets
      summary: GET /wp/v2/widgets
      tags:
      - widgets
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: sidebar
        in: query
        required: false
        description: The sidebar to return widgets for.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
          headers:
            X-WP-Total:
              description: Total items in the collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages in the collection.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev).
              schema:
                type: string
        '400': &id001
          $ref: '#/components/responses/Error'
        '404': *id001
    post:
      operationId: createWidgets
      summary: POST /wp/v2/widgets
      tags:
      - widgets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique identifier for the widget.
                id_base:
                  type: string
                  description: The type of the widget. Corresponds to ID in widget-types endpoint.
                sidebar:
                  type: string
                  default: wp_inactive_widgets
                  description: The sidebar the widget belongs to.
                instance:
                  type: object
                  description: Instance settings of the widget, if supported.
                form_data:
                  type: string
                  description: URL-encoded form data from the widget admin form. Used to update a widget that does not support instance. Write only.
              required:
              - sidebar
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': &id002
          $ref: '#/components/responses/Error'
        '401': *id002
        '403': *id002
        '404': *id002
  /wp/v2/widgets/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: 'Route-matched value (WordPress route pattern: [\w\-]+).'
      schema:
        type: string
    get:
      operationId: getWidgetsById
      summary: GET /wp/v2/widgets/{id}
      tags:
      - widgets
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: createWidgetsById
      summary: POST /wp/v2/widgets/{id}
      tags:
      - widgets
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique identifier for the widget.
                id_base:
                  type: string
                  description: The type of the widget. Corresponds to ID in widget-types endpoint.
                sidebar:
                  type: string
                  description: The sidebar the widget belongs to.
                instance:
                  type: object
                  description: Instance settings of the widget, if supported.
                form_data:
                  type: string
                  description: URL-encoded form data from the widget admin form. Used to update a widget that does not support instance. Write only.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': &id003
          $ref: '#/components/responses/Error'
        '401': *id003
        '403': *id003
        '404': *id003
    put:
      operationId: replaceWidgetsById
      summary: PUT /wp/v2/widgets/{id}
      tags:
      - widgets
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique identifier for the widget.
                id_base:
                  type: string
                  description: The type of the widget. Corresponds to ID in widget-types endpoint.
                sidebar:
                  type: string
                  description: The sidebar the widget belongs to.
                instance:
                  type: object
                  description: Instance settings of the widget, if supported.
                form_data:
                  type: string
                  description: URL-encoded form data from the widget admin form. Used to update a widget that does not support instance. Write only.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': &id004
          $ref: '#/components/responses/Error'
        '401': *id004
        '403': *id004
        '404': *id004
    patch:
      operationId: updateWidgetsById
      summary: PATCH /wp/v2/widgets/{id}
      tags:
      - widgets
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique identifier for the widget.
                id_base:
                  type: string
                  description: The type of the widget. Corresponds to ID in widget-types endpoint.
                sidebar:
                  type: string
                  description: The sidebar the widget belongs to.
                instance:
                  type: object
                  description: Instance settings of the widget, if supported.
                form_data:
                  type: string
                  description: URL-encoded form data from the widget admin form. Used to update a widget that does not support instance. Write only.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': &id005
          $ref: '#/components/responses/Error'
        '401': *id005
        '403': *id005
        '404': *id005
    delete:
      operationId: deleteWidgetsById
      summary: DELETE /wp/v2/widgets/{id}
      tags:
      - widgets
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Whether to force removal of the widget, or move it to the inactive sidebar.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': &id006
          $ref: '#/components/responses/Error'
        '401': *id006
        '403': *id006
        '404': *id006
components:
  responses:
    Error:
      description: WordPress REST API error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope, captured verbatim from live responses.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
            params:
              type: object
              description: Per-parameter validation messages (rest_invalid_param).
            details:
              type: object
              description: Per-parameter structured error details.
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress application passwords, advertised by the API root document at https://lanzatech.com/wp-json/ (authentication.application-passwords.endpoints.authorization = https://lanzatech.com/wp-admin/authorize-application.php). Sent as HTTP Basic credentials. Only required for write operations; all read operations captured here are public.
